.selected {
  $time: 0.2s;
  $ident: linear;
  border: solid 1px #0dcaf0;
  transition:
    border-bottom $time $ident 0s,
    border-left $time $ident 0.2s,
    border-top $time $ident 0.4s,
    border-right $time $ident 0.6s;
  &:hover {
    border-bottom: solid 1px darkorange;
    border-left: solid 1px darkorange;
    border-top: solid 1px darkorange;
    border-right: solid 1px darkorange;
  }
}
