<div class="card h-100 border border-info">
<!--  <img class="card-img-top bg-secondary" ngSrc="../../logo.svg" fill="colour"/>-->
  <div class="card-img-top bg-info bg-gradient" style="width: 100%; height: 100px"></div>
  <div class="card-body">
    <h5 class="card-title text-white">
      {{question.question}}
    </h5>
    <div class="card-text">
      <p class="messages">Answers: {{question.answers.length}}</p>
<!--      {/*<div class="usercount">Users: {question.responders.length}</div>*/}-->
    </div>
    <p class="card-subtitle">
      <span class="opacity-50">Started by: </span><u>{{question.starter}}</u>
    </p>
    <a class="stretched-link" [routerLink]="'/' + question.id"></a>
  </div>
</div>
