<div class="card h-100 border" [style.border-color]="color">
  <!--  <img class="card-img-top bg-secondary" ngSrc="../../logo.svg" fill="colour"/>-->
  <div class="card-img-top" style="width: 100%; height: 100px;" [style.background-color]="color">
    <div *ngIf="!question.answered" class="text-start ms-2 mt-1"><i class="bi bi-question"></i></div>
    <div *ngIf="question.answered" class="text-start ms-2 mt-1"><i class="bi bi-check-circle"></i></div>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" [style.background-color]="color">
        {{question.answers.length}}
      </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{question.question}}
    </h5>
    <div class="card-subtitle align-self-end">
      <div class="opacity-50">Participants:</div>
      <u>{{question.starter}}</u><span *ngIf="participantSet.size < 5 && participantSet.size > 0">, </span>
      <span *ngIf="participantSet.size < 5; else compact">{{getParticipants()}}</span>
      <ng-template #compact> and {{participantSet.size}} others</ng-template>
    </div>
    <a class="stretched-link" [routerLink]="'/question/' + question.id"></a>
  </div>
</div>
