<div class="container-fluid">
  <nav class="navbar-nav navbar-nav-scroll bg-body-tertiary row">
    <ul class="nav align-items-center d-flex justify-content-between">
      <a class="navbar-brand ms-3" routerLink="/">Chatex</a>
      <li class="nav-item">
        <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#question-modal">
          New Question <span><i class="bi bi-broadcast-pin"></i></span>
        </button>
        <app-new-question/>
      </li>

      <li class="nav-item" [ngClass]="{'dropdown': !username}">
        <a *ngIf="!username;else loggedIn" href="#" class="nav-link" data-bs-toggle="modal"
           data-bs-target="#login-modal">
          Login
        </a>
        <ng-template #loggedIn>
          <div class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
            {{username}}
          </div>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </ng-template>

        <app-login/>
      </li>
    </ul>
  </nav>
</div>
