<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="login-modal-title">Ask a new question</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="questionForm" role="search">
        <label for="subject" class="form-label">What is your question?</label>
        <input id="subject" class="form-control" type="text" formControlName="question"/>
        <div *ngIf="createFailed" class="text-danger">Are you logged in?</div>
        <label for="usernames" class="form-label mt-2">Who do you want to invite?</label>
        <div class="overflow-y-auto" [style.height]="'10rem'">
          <div id="usernames" *ngFor="let username of usernames; let i = index">
            <div class="form-check">
              <input id="checkbox-{{i}}" type="checkbox" (change)="updateAddedUsers($event, username)"
                     class="form-check-input" [value]="username">
              <label for="checkbox-{{i}}" class="form-check-label">{{username}}</label>
            </div>
          </div>
        </div>
        <div>{{questionForm.controls.usernames.getRawValue()}}</div>

      </form>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" (click)="createQuestion()">Create</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>
        Close
      </button>
    </div>
  </div>
</div>
