<div class="modal fade" role="dialog" id="question-modal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="login-modal-title">Ask a new question</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="questionForm" role="search">
        <label for="subject" class="form-label">What is your question?</label>
        <input id="subject" class="form-control" type="text" formControlName="question"/>
        <div *ngIf="createFailed" class="text-danger">Are you logged in?</div>

        <div class="form-check">
          <input id="open-to-public" type="checkbox" formControlName="openToPublic" class="form-check-input">
          <label for="open-to-public" class="form-check-label">Make question open to public</label>
        </div>
        <div *ngIf="questionForm.controls.openToPublic.value" class="text-warning">This means everyone without an account could can also join!</div>
      </form>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" (click)="createQuestion()">Create</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>
        Close
      </button>
    </div>
  </div>
</div>
</div>
