<div class="container">
  <h1>Work in progress! <i class="bi bi-cone-striped"></i></h1>
  <div class="row">
    <form [formGroup]="profileForm" class="col-6 m-auto">
      <div>
        <label for="username">Username</label>
        <input class="form-control" formControlName="username" id="username" type="text" required/>
        <button class="btn btn-warning">Update Username</button>
      </div>

      <div>
        <label for="password">Password</label>
        <input class="form-control" formControlName="password" id="password" type="password" required/>
        <button class="btn btn-warning">Update Password</button>
      </div>

    </form>
  </div>
</div>
