<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="login-modal-title">Are you sure?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      You are about to mark this question as answered. This will close this topic and replies are disabled.
      This cannot be undone (as of now). Are you sure you want to continue?
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" data-bs-dismiss="modal" (click)="dataEvent.emit(true)">Yes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dataEvent.emit(false)">No</button>
    </div>
  </div>
</div>
